@model Resume.Domain.ViewModels.Page.ResumePageViewModel

@{
    ViewData["Title"] = "Resume";
}

<div class="section mt-0">
    <h1 class="title title--h1 title__separate">رزومه</h1>
</div>


@if (Model.Educations.Items != null && Model.Educations.Items.Any())
{
    <partial name="_EducationPartial" model="@Model.Educations.Items" />
}


@if (Model.Experiences.Items != null && Model.Experiences.Items.Any())
{
    <partial name="_ExperiencesPartial" model="@Model.Experiences.Items" />
}



@if (Model.Skills.Items != null && Model.Skills.Items.Any())
{
    <partial name="_SkillsPartial" model="@Model.Skills.Items" />
}